$wks-breakpoints: (
	'xsmall': 480px,
	'small' : 640px,
	'medium': 768px,
	'large' : 999px,
	'xlarge': 1191px,
);
@mixin wks-bp($breakpoint: large, $rule: min) {
	$breakpoint: map_get($wks-breakpoints, $breakpoint);
	@if $rule == min {
		$breakpoint: $breakpoint + 1;
	}
	@media screen and (#{$rule}-width: $breakpoint) {
		@content;
	}
}
@mixin opacity($opacity) {
	$opacityIE: $opacity * 100;
	filter: alpha(opacity=$opacityIE);
	-moz-opacity: $opacity;
	opacity: $opacity;
}

$gray_rich: #444444;
$gray_deep: #4d4d4d;
$gray_heavy: #555;
$gray_dark: #777;
$gray_normal: #808080;
$gray_fine: #999;
$gray_bright: #aaa;
$gray_light: #ccc;
$gray_pale: #eee;
$gray_mild: #f3f3f3;
$gray_thin: #f7f7f7;

$violet_rich: #521ae0;
$violet_deep: #5d3f90;
$violet_heavy: #601986;
$violet_dark: #7f09e3;
$violet_strong: #804bda;
$violet_clear: #9a5bdb;
$violet_vivid: #a907d1;
$violet_normal: #c661df;
$violet_fine: #c702de;
$violet_bright: #d68de6;
$violet_sharp: #dfcffc;
$violet_light: #f1c8fb;
$violet_pale: rgba($violet_normal,0.15);
$violet_thin: #fcf7fd;

$purple_deep: #4d4398;
$purple_heavy: #5b5edb;
$purple_dark: #8852ba;
$purple_vivid: #8528dc;
$purple_light: #d6d2e8;
$purple_pale: #edecf4;
$purple_thin: #f0eef7;

$indigo_dark: #04539a;
$indigo_normal: #066fce;
$indigo_bright: #2f72be;
$indigo_light: #3e7cb5;
$indigo_thin: #f2f9fe;

$blue_deep: #0331cd;
$blue_dark: #0c40b8;
$blue_heavy: #242780;
$blue_normal: #3b3bdd;
$blue_light: #0886e7;
$blue_pale: #d2ebfe;
$blue_thin: #e8f9fe;

$turquoise_normal: #16ac92;
$turquoise_light: #cdf5ee;

$emerald_normal: #4ea6b9;
$emerald_light: #52a8bb;
$emerald_pale: rgba($emerald_light,0.15);

$green_deep: #090;
$green_dark: #199c2f;
$green_strong: #285;
$green_vivid: #28a93d;
$green_clear: #23bc4e;
$green_sharp: #3c8c01;
$green_normal: #396;
$green_bright: #4a7;
$green_light: #a2edc7;
$green_pale: #e4f4d9;
$green_thin: #edf9f2;

$mint_dark: #06ab35;
$mint_vivid: #27ac38;
$mint_normal: #46cc6c;

$lime_dark: #00a960;
$lime_normal: #00c300;
$lime_strong: #23a101;
$lime_bright: #40a101;
$lime_sharp: #47a608;
$lime_vivid: #4ac81d;
$lime_light: #59cc03;
$lime_clear: #74b925;
$lime_pale: #bcdb98;
$lime_thin: #f8feeb;

$yellow_normal: #f9b900;
$yellow_bright: #fde66a;
$yellow_light: #fef96a;
$yellow_pale: #fff797;
$yeloow_clear: #fdfda0;
$yellow_mild: #fff5da;
$yellow_thin: #fff9e0;

$gold_normal: #b29004;
$gold_vivid: #e3b001;
$gold_light: #fce597;
$gold_pale: #fdedb6;
$gold_mild: #fffae0;
$gold_thin: #fef4e7;

$brown_deep: #582b25;
$brown_dark: #623629;
$brown_bright: #8b6967;
$brown_light: #bc6433;
$brown_pale: #d6beaa;

$orange_dark: #ef2902;
$orange_deep: #f93c02;
$orange_normal: #fe7727;
$orange_light: #ff701a;
$orange_vivid: #ff8e4a;
$orange_bright: #f90;
$orange_pale: #ffdcc7;
$orange_thin: #fff0e7;

$mandarin_dark: #e68a00;
$mandarin_normal: #ff5502;
$mandarin_light: #fd8005;
$mandarin_clear: #ff8b3d;
$mandarin_bright: #ffbf60;
$mandarin_pale: rgba($mandarin_light,0.1);
$mandarin_tint: #ffe1d3;

$pink_dark: #b90561;
$pink_normal: #e63482;
$pink_bright: #ef3685;
$pink_clear: #f35b9c;
$pink_sharp: #fa2082;
$pink_vivid: #f561ad;
$pink_light: #fccfe3;
$pink_mild: #fed8fd;
$pink_pale: #fef5f9;

$rose_deep: #cd0606;
$rose_dark: #e62121;
$rose_normal: #ee3b3b;
$rose_bright: #ea7675;
$rose_vivid: #f4375b;
$rose_light: #f14848;
$rose_pale: #fbcfcf;
$rose_thin: #fef5f5;

$red_deep: #ca0104;
$red_dark: #cd0930;
$red_normal: #f00;
$red_bright: #fa3030;
$red_clear: #ff3f1f;

$color_happylife: #f37638;
$color_blueberry: #b309dd;
$color_health: #5dbb33;
$color_beauty: #fc2b6f;
$color_sports: #fb4223;
$color_sightseeing: #1a4bc8;
$color_social: #5d3f90;
$color_northeuro: #5c98cb;
$color_quiz: #28a93d;
$color_comic: #009c8e;
$color_jwbl: #e5007f;
$color_dione: #0055aa;
$color_flora: #e11383;
$color_astraia: #e15519;
$color_reia: #f65097;
$color_club: #c703f8;

$color_facebook: #3b5998;
$color_facebook_dark: #253d7a;
$color_twitter: #55acee;
$color_twitter_dark: #1d75de;
$color_blog: #a95dff;
$color_blog_dark: #8235ff;
